[tool.poetry]
name = "pyobs-core"
packages = [{ include = "pyobs" }]
version = "1.1.3"
description = "robotic telescope software"
authors = ["Tim-Oliver Husser <thusser@uni-goettingen.de>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.9,<3.11"
scipy = "^1.7"
pandas = "^1.1"
astropy = "^5.0"
astroplan =  "^0.8"
numpy = "^1.21"
paramiko = "^2.8"
pytz = "^2021.3"
PyYAML = "^6.0"
py-expression-eval = "^0.3"
requests = "^2.26"
ccdproc = "^2.2"
photutils = "^1.2"
lmfit = "^1.0"
tornado = "^6.1"
python-telegram-bot = "^13.8"
typing-extensions = "^4.0"
sep = [{ version = "^1.2", platform = "linux" }]
python-daemon = [{ version = "^2.3", platform = "linux" }]
astroquery = "^0.4"
slixmpp = "^1.7"
aiohttp = "^3.8"
single-source = "^0.2"
asyncinotify = [{ version = "^2.0", platform = "linux" }]
dbus-next = "^0.2"

[tool.poetry.dev-dependencies]
types-cryptography = "^3.3"
types-enum34 = "^1.1"
types-ipaddress = "^1.0"
types-paramiko = "^2.7"
types-pytz = "^2021.3"
types-PyYAML = "^5.4"
types-requests = "^2.25"
types-setuptools = "^57.4"
types-toml = "^0.10"
types-tornado = "^5.1"
mypy = "^0.920"
pytest = "^6.2"
pytest-asyncio = "^0.16"
black = ">21.0"
pre-commit = "^2.16"

[tool.poetry.scripts]
pyobs = 'pyobs.cli.pyobs:main'
pyobsd = 'pyobs.cli.pyobsd:main'
pyobsw = 'pyobs.cli.pyobsw:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ['py39']
