[tool.poetry]
name = "pyobs-core"
packages = [{ include = "pyobs" }]
version = "1.4.1"
description = "robotic telescope software"
authors = ["Tim-Oliver Husser <thusser@uni-goettingen.de>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
scipy = "^1.10.1"
pandas = "^2.0.1"
astropy = "^5.2.2"
astroplan =  "^0.8"
numpy = "^1.24.3"
paramiko = "^3.1.0"
pytz = "^2023.3"
PyYAML = "^6.0"
py-expression-eval = "^0.3.14"
requests = "^2.30.0"
ccdproc = "^2.4.0"
photutils = "^1.7.0"
lmfit = "^1.2.1"
tornado = "^6.3.1"
python-telegram-bot = "^20.2"
typing-extensions = "^4.5.0"
sep = [{ version = "^1.2", platform = "linux" }]
python-daemon = [{ version = "^2.3", platform = "linux" }]
astroquery = "^0.4.6"
slixmpp = "^1.8.3"
aiohttp = "^3.8.4"
single-source = "^0.3.0"
asyncinotify = [{ version = "^2.0", platform = "linux" }]
dbus-next = "^0.2.3"
reproject = "^0.10.0"

[tool.poetry.dev-dependencies]
types-cryptography = "^3.3.23.2"
types-enum34 = "^1.1.8"
types-ipaddress = "^1.0.8"
types-paramiko = "^3.0.0.9"
types-pytz = "^2023.3.0.0"
types-PyYAML = "^6.0.12.9"
types-requests = "^2.29.0.0"
types-setuptools = "^67.7.0.1"
types-toml = "^0.10.8.6"
types-tornado = "^5.1.1"
mypy = "^1.2.0"
pytest = "^7.3.1"
pytest-asyncio = "^0.21.0"
black = ">21.0"
pre-commit = "^3.3.1"

[tool.poetry.scripts]
pyobs = 'pyobs.cli.pyobs:main'
pyobsd = 'pyobs.cli.pyobsd:main'
pyobsw = 'pyobs.cli.pyobsw:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ['py39', 'py311']
