[tool.poetry]
name = "pyobs-core"
packages = [{ include = "pyobs" }]
version = "1.4.11"
description = "robotic telescope software"
authors = ["Tim-Oliver Husser <thusser@uni-goettingen.de>"]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
scipy = "^1.11.1"
astropy = "^5.3.1"
numpy = "^1.25.1"
pytz = "^2023.3"
PyYAML = "^6.0.1"
typing-extensions = "^4.7.1"
astroquery = "^0.4.6"
slixmpp = "^1.8.4"
single-source = "^0.3.0"
dbus-next = "^0.2.3"
asyncinotify = "^4.0.2"
sep = { version = "^1.2.1", platform = "linux", optional = true }
python-daemon = "^3.0.1"
reproject = { version = "^0.11.0", optional = true }
pandas = { version = "^2.0.3", optional = true }
astroplan =  { version = "^0.8", optional = true }
paramiko = { version = "^3.2.0", optional = true }
py-expression-eval = { version = "^0.3.14", optional = true }
requests = { version = "^2.31.0", optional = true }
ccdproc = { version = "^2.4.1", optional = true }
photutils = { version = "^1.8.0", optional = true }
lmfit = { version = "^1.2.2", optional = true }
tornado = { version = "^6.3.2", optional = true }
python-telegram-bot = { version = "^20.4", optional = true }
aiohttp = { version = "^3.8.5", optional = true }

[tool.poetry.extras]
full = ['asyncinotify', 'sep', 'python-daemon', 'reproject', 'pandas', 'astroplan', 'paramiko',
        'py-expression-eval', 'requests', 'ccdproc', 'photutils', 'lmfit', 'tornado', 'python-telegram-bot',
        'aiohttp']

[tool.poetry.dev-dependencies]
types-cryptography = "^3.3.23.2"
types-enum34 = "^1.1.8"
types-ipaddress = "^1.0.8"
types-paramiko = "^3.0.0.9"
types-pytz = "^2023.3.0.0"
types-PyYAML = "^6.0.12.9"
types-requests = "^2.29.0.0"
types-setuptools = "^67.7.0.1"
types-toml = "^0.10.8.6"
types-tornado = "^5.1.1"
mypy = "^1.2.0"
pytest = "^7.3.1"
pytest-asyncio = "^0.21.0"
black = ">21.0"
pre-commit = "^3.3.1"

[tool.poetry.scripts]
pyobs = 'pyobs.cli.pyobs:main'
pyobsd = 'pyobs.cli.pyobsd:main'
pyobsw = 'pyobs.cli.pyobsw:main'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ['py39', 'py311']
