paramiko
pandas
python-daemon
sqlalchemy
matplotlib
pytz
astropy
Pillow
PyYAML
scipy
numpy
lmfit
aplpy
astroquery
tornado
quamash
sleekxmpp
watchdog
xmltodict
https://github.com/thusser/sewpy/archive/master.zip
py_expression_eval
colour
PyQt5
#python-prctl