scipy
paramiko
pandas
pytz
astropy
astroplan
PyYAML
numpy
sleekxmpp
py_expression_eval
requests
ccdproc
photutils
lmfit
tornado
python-telegram-bot
typing_extensions
sep;platform_system=="Linux"
pyinotify;platform_system=="Linux"
python-daemon;platform_system=="Linux"